/vendor
/composer.lock
/features/fixtures/project/public/bundles
/features/fixtures/project/public/uploaded
/features/fixtures/project/var/cache/*
/features/fixtures/project/var/logs/*
/features/fixtures/project/var/mysql/*
!/features/fixtures/project/var/.gitkeep
!/features/fixtures/project/var/data/.gitkeep
/features/fixtures/project/config/parameters.yaml
*.sqlite
.phpcs-cache
