includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    level: 7
    paths:
        - .
    excludePaths:
        - DependencyInjection/Configuration
        - '%rootDir%/../../../docker'
        - '%rootDir%/../../../features'
        - '%rootDir%/../../../spec'
        - '%rootDir%/../../../var'
        - '%rootDir%/../../../vendor'
    ignoreErrors:
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'
