parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    level: 6
    paths:
        - .
    excludePaths:
        - DependencyInjection/Configuration
        - '%rootDir%/../../../Behat'
        - '%rootDir%/../../../docker'
        - '%rootDir%/../../../features'
        - '%rootDir%/../../../spec'
        - '%rootDir%/../../../var'
        - '%rootDir%/../../../vendor'
    ignoreErrors:
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'
